In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\ajayr\anaconda3\desktop\lib\site-packages (1.26.4)

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data=pd.read_csv("bnpl_dataset_20000.csv")

In [35]:
data

,transaction_id,customer_id,customer_name,gender,age,location,transaction_date,purchase_amount,down_payment,installment_amount,...,product_category,merchant_name,customer_income,credit_score,late_payments,account_created,fraud_flag,total_financed_amount,total_repayment,repayment_ratio
0,667a639d-686b-43a7-8040-eb50ee6457df,7120013d-3b9a-4125-9e24-885a88b07fa4,Crystal Singh,Male,33,Sheffield,2024-11-30,1462.06,167.00,177.87,...,Home,eBay,2554.81,371,2,2023-01-12,0,1295.06,344.87,0.235880
1,48c39a7f-a94a-408d-a6d1-e5a2ed329562,808d51a2-3564-4ac7-9250-c47e0d215696,Jason Schroeder,Other,28,Leeds,2024-10-26,842.93,72.07,117.19,...,Home,Amazon,4656.38,411,1,2022-12-15,0,770.86,306.45,0.363553
2,d2578768-a2e8-4cb9-8dd4-48987059668d,b357d186-2642-4ae1-82b9-d436ab38a550,Heather Gregory,Other,45,Sheffield,2024-05-15,781.59,244.76,210.26,...,Electronics,Zara,5317.14,799,0,2023-08-22,0,536.83,1926.84,2.465282
3,398a7067-a195-4b81-abbe-17fa7cecbffa,d35d0ddd-4cd0-4b7b-8380-767d6ff8d426,Judy Tran,Male,63,Manchester,2024-10-27,1007.49,159.57,268.36,...,Home,Currys,4290.49,754,1,2022-06-01,0,847.92,427.93,0.424749
4,7544ead9-aac7-47df-a6fe-79b338324fb6,34914080-e016-4c6c-ad52-3c050c916554,Terry Page,Female,51,London,2025-02-16,1915.33,362.62,30.25,...,Sports,Tesco,2233.52,453,0,2022-04-23,0,1552.71,695.37,0.363055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,d68e2e7d-e67f-498a-95fe-ef483b7d7d18,2a853b04-a9c9-40df-a68a-614057b23002,Anne Griffith,Male,32,Glasgow,2024-11-26,1768.58,425.50,174.31,...,Fashion,Tesco,7473.97,741,0,2024-01-27,0,1343.08,1645.67,0.930504
19996,7bf1a12e-2c54-4b99-af4f-19258ba651d8,5c6b0bfd-6b2a-4aa6-be5f-afa1669c6f79,Kara Combs,Female,30,Birmingham,2024-09-16,946.71,196.16,237.81,...,Groceries,Nike,7064.35,469,1,2022-07-04,0,750.55,1860.83,1.965576
19997,3b04af10-b949-434b-947a-fa3572e4845d,0fb7f7ec-2c2a-4981-825d-bb2949626806,Samantha Waters,Other,23,Glasgow,2024-06-24,1112.73,146.51,53.47,...,Sports,Tesco,5562.88,332,1,2023-04-07,1,966.22,627.74,0.564144
19998,75990fdb-72dd-477c-a80e-a1833a0e4532,52b33e40-1ffe-40aa-a67c-81e7516b9d6a,Jessica Martinez,Male,40,Manchester,2024-11-19,1055.47,359.62,105.07,...,Electronics,eBay,6865.42,376,0,2023-12-27,0,695.85,1200.18,1.137105
19999,5f6144f1-1f63-41c9-b39c-61bbf9e93f30,46296bdd-102a-4c41-93e3-48577a59b435,Meredith Jones,Other,24,Liverpool,2024-09-23,590.00,194.61,22.11,...,Home,Amazon,5847.23,494,4,2023-02-23,0,395.39,327.27,0.554695

In [12]:
data.isnull().sum()

transaction_id        0
customer_id           0
customer_name         0
gender                0
age                   0
location              0
transaction_date      0
purchase_amount       0
down_payment          0
installment_amount    0
installments          0
payment_status        0
product_category      0
merchant_name         0
customer_income       0
credit_score          0
late_payments         0
account_created       0
fraud_flag            0
dtype: int64

In [15]:
data[data.duplicated()].sum()

transaction_id          0
customer_id             0
customer_name           0
gender                  0
age                     0
location                0
transaction_date        0
purchase_amount       0.0
down_payment          0.0
installment_amount    0.0
installments            0
payment_status          0
product_category        0
merchant_name           0
customer_income       0.0
credit_score            0
late_payments           0
account_created         0
fraud_flag              0
dtype: object

In [16]:
data.dtypes

transaction_id         object
customer_id            object
customer_name          object
gender                 object
age                     int64
location               object
transaction_date       object
purchase_amount       float64
down_payment          float64
installment_amount    float64
installments            int64
payment_status         object
product_category       object
merchant_name          object
customer_income       float64
credit_score            int64
late_payments           int64
account_created        object
fraud_flag              int64
dtype: object

In [20]:
data['transaction_date'] = pd.to_datetime(data['transaction_date'])
data['account_created'] = pd.to_datetime(data['account_created'])

In [30]:
data['total_financed_amount'] = data['purchase_amount'] - data['down_payment']

In [31]:
data['total_repayment'] = data['down_payment'] + (data['installment_amount'] * data['installments'])

In [32]:
data['repayment_ratio'] = data['total_repayment'] / data['purchase_amount']

In [68]:
data['high_risk'] = ((data['repayment_ratio'] < 0.8) | (data['late_payments'] >= 2) | (data['credit_score'] < 550)).astype(int)
print(data['high_risk'])

0        1
1        1
2        0
3        1
4        1
        ..
19995    0
19996    1
19997    1
19998    1
19999    1
Name: high_risk, Length: 20000, dtype: int32

In [37]:
print(data[['purchase_amount', 'down_payment', 'installment_amount', 'installments', 'total_repayment', 'repayment_ratio']].head())

   purchase_amount  down_payment  installment_amount  installments  \
0          1462.06        167.00              177.87             1
1           842.93         72.07              117.19             2
2           781.59        244.76              210.26             8
3          1007.49        159.57              268.36             1
4          1915.33        362.62               30.25            11

   total_repayment  repayment_ratio
0           344.87         0.235880
1           306.45         0.363553
2          1926.84         2.465282
3           427.93         0.424749
4           695.37         0.363055

In [38]:
numeric_cols = ['purchase_amount', 'down_payment', 'installment_amount', 
                'installments', 'customer_income', 'late_payments', 'credit_score', 'age']

In [41]:
negatives = (data[numeric_cols] < 0).sum()
print(negatives)

purchase_amount       0
down_payment          0
installment_amount    0
installments          0
customer_income       0
late_payments         0
credit_score          0
age                   0
dtype: int64

In [43]:
data['credit_score'].max()

850

In [64]:
invalid_credit_score=((data['credit_score']<0)|(data['credit_score']>850)).sum()
invalid_credit_score

0

In [67]:
invalid_age= data[(data['age'] < 0)]
invalid_age

Empty DataFrame
Columns: [transaction_id, customer_id, customer_name, gender, age, location, transaction_date, purchase_amount, down_payment, installment_amount, installments, payment_status, product_category, merchant_name, customer_income, credit_score, late_payments, account_created, fraud_flag, total_financed_amount, total_repayment, repayment_ratio, high_risk]
Index: []

[0 rows x 23 columns]

In [50]:
data.to_csv("bnpl_dataset_20000.csv", index=False)
print("Data saved to bnpl_dataset_20000.csv")

Data saved to bnpl_dataset_20000.csv